.body {
  min-height: calc(var(--vh) * 100);
  height: calc(var(--vh) * 100);
  background-color: #f1f1f1;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.body > * {
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
}

.main {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.main > * {
  width: 100%;
  max-width: calc(100% - 30px);
}

@media screen and (max-width: 500px) {
}
