:root {
  --NANA: #dbeafe;
  --WOOYEON: #ede9fe;
  --SORA: #fee2e2;
  --LUCY: #fce7f3;
  --MINSEO: #d1fae5;
  --WOOAH: #ffedd2;

  --card-bg-light: #f3f4f6;
  --card-bg-default: #e5e7eb;

  --radius-default: 10px;

  --hashtag: #1d98f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  white-space: pre-line;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
